@charset "utf-8";

@media screen and (max-width: 767px) {
/* min-width: 320px;まで */

body {
width: 100%;
 background-color: #fff;    
 font-family: "Hiragino Sans", "Meiryo", "Yu Gothic", "YuGothic", sans-serif;
 font-weight: 250;  
 color:#505050; 
 letter-spacing: 0;
}

header {
 width: 100%;
 height: 50px;
}

#shop_name {
 width: 200px; 
 font-size: 20px;
 padding: 3px 0 0 0;
 margin: 0px 0 0 19px;
} 

#navi {
 display: none;
}

/* main_visual */
#main_visual > h2 { 
 width: 313px;
 padding-top: calc(28 / 375 * 100vw); 
 font-size: 32px;
 line-height: 1.5; 
}
@media screen and (max-width: 350px) {
 #main_visual > h2 {
  width: 290px;
  font-size: 30px; 
}
}

/* MENU */
#menu {
 width: 100%;  
 padding-top: 52px;
 margin-bottom: 39px;
}

#inner {
 max-width: 345px;
 width: 100%;
 display: block;
 padding-inline: 15px;
 margin-inline: auto;   
}

/* .border-span-menu {
 padding-bottom:7px;
 margin-bottom: 30px;
 display:inline-block;
 border-bottom: solid 3px #505050; 
} */

#menu_wrapper {
 width: 100%;
 display: block;
 margin-top: 28px;
 margin-bottom: 0px;
}

.menu-list {
 margin-bottom: 22px;
}

.picture-wrap {
  width: 100%;
  margin-top: 0px;
}

.content {
 width: 100%;
 margin-top: 0px;
}

.name {
 margin-top: 22px;
}

.explain {    
 line-height: 1.66;
}

/* ABOUT */

#about {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.051);  
  padding-top: 49px;
  padding-bottom: 47px;
 }

#about_wrapper {
 width: 100%;
 flex-wrap: wrap-reverse;
 margin-top: 10px;
}
   
#text-wrapper {
 width: 100%;
 margin-top: 30px;
}
   
#concept {
 width:100%;
 flex-wrap: wrap;
 font-weight:400;  
 font-size: 22px;
}
   
#concept > p > br {
 display: none;
}

#more-btn {
 width: 100%;        
}
    
#img-wrapper {
 width: 100%;
 margin-top: 20px; 
}

/* #detail > p {
} */

button {
  max-width: 345px;
  width: 100%;
  display: block;
  padding-inline: 15px;
  margin-inline: auto;
  text-align: center;
}

/* ホバー時のスタイル */
button:hover {  
  cursor: pointer;  /* カーソルを指マークに変更 */
  color: #999999  ;
  background-color: #fff; 
  border: solid 0.5px #505050;  /*枠線　線の種類　太さ　色*/
}

#detail > p > br {
 display: block;
}

footer > p {
 width: 100%;        
 font-size: 17px;
}       

}