@charset "utf-8";

html {
 padding: 0;
 margin: 0;    
}

body {
 width: 100%;
 background-color: #fff;    
 font-family: "Hiragino Sans", "Meiryo", "Yu Gothic", "YuGothic", sans-serif;
 font-weight: 250;  
 color:#505050; 
 letter-spacing: 0;
}

header {
 width: 100%;
 height: 50px;
 /* background-color: yellow; */
 display: flex;
 justify-content: space-between;
}

#shop_name {
 width: 200px; 
 font-size: 20px;
 padding: 14px 0 0 0;
 margin: 0 0 0 59px; 
} 

#navi {
 width: 200px; 
 display: flex;
 justify-content: center;
 margin: 0 37px 0 0;
}

#navi_menu {
 width: 73px;
 height: 33px;    
 font-size: 20px; 
 padding: 16px 0 0 0;
 margin: 0 0 0 -27px;  
}

#navi_about {
 width: 73px;
 height: 33px; 
 font-size: 20px;
 padding: 15px 0 0 0;
 margin: 0 0 0 23px;
}

/* main */
#main {
  width: 100%;
}

/* main_visual */
#main_visual { 
  position: relative;  
  display: flex;
  justify-content: center;
}

#main_visual > h2 {
 position: absolute;
 width: 570px;
 margin-top: calc(62 / 1080 * 100vw);
 text-align: center;
 font-weight: 400;
 font-size: 38px;
 z-index: 11;
}

#top-picture-wrap {
  width: 100%;
}

#fv-pic {
  width: 100%;
  display: block; 
}

picture {
  display: block; 
  width: 100%;  
  height: 100%;
  z-index: 10;  
}

/* MENU */
#menu {
  width: 100%;
  padding-top: 61px;
  margin-bottom: 39px;
}

.inner {
  max-width: 1020px;
  width: 100%;
  padding-inline: 30px;
  margin-inline: auto;  
}

/* .inner > h2 {
 width: 102px; 
 font-size: 30px;
 margin: 0 auto;
} */

.inner > h2 {
  font-size: 30px;  
  text-align: center;
  padding-bottom: 0px;
 }
 
 .inner > h2::after {
  content: '';
  display: block;
  width: 52px;
  height: 2.5px;
  background: #00CC99;
  margin: 9px auto 0;
 }


/* .border-span-menu {
 padding-bottom: 8px;
 display:inline-block;
 border-bottom: solid 3px #505050;
} */

#menu_wrapper {
 width: 100%;
 display: flex; 
 justify-content: center;
 column-gap: 3.125%;
 margin-top: 0px;
 margin-bottom: 40px;
 padding: 0;
}

.picture-wrap {
  width: 100%;
  margin-top: 30px;
}

.menu-picture {
  width: 100%;
  display: block; 
}

.content {
  width: 100%;
 margin-top: 33px;
}

.name {
 width: 100%;
 text-align: center; 
 font-size: 20px;
 font-weight: 400; 
 margin-top: 30px;
}

.explain {
 width: 100%;
 text-align: center; 
 font-size: 15px;
 margin-top: 9px;
 line-height: 25px;
}

/* ABOUT */
#about {
 width: 100%;
 background-color: rgba(0, 0, 0, 0.051);
 padding-top: 51px;
 padding-bottom: 47px;
}

/* #h2-with-padding {
  padding-top: 51px;
} */

/* .border-span-about {
 padding-bottom: 8px;
 display:inline-block;
 border-bottom: solid 3px #505050;
} */

#about_wrapper {
 width: 100%;
 display: flex;
 justify-content: space-between; 
 margin-top: 19px;
}

#text-wrapper {
 width: 43.61%;
 margin-top: 60px;
}

#concept {
 width: 32.59%;
 flex-wrap: wrap;
 font-weight:400;  
 font-size: 22px;
 line-height: 33px;
}

#detail {
 flex-wrap: wrap;
 margin-top: 20px;  
 line-height: 33px;
}

#detail > p { 
 font-weight:250;  
 font-size: 18px; 
 margin-right: 0;
 margin-bottom: 13.5px; 
 letter-spacing: -0.1px;
}

@media screen and (max-width: 802px) {
  #detail > p > br {
   display: none;
  }
}

button {
  width: 250px;
  height: 55px;
  background-color: #505050; 
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 22px 0 0 0 ;
  color: #fff;
  font-size: 25px;  
  transition: color 0.4s linear;  
  transition: background-color 0.4s linear;
}

/* ホバー時のスタイル */
button:hover {  
  cursor: pointer;  /* カーソルを指マークに変更 */
  color: #999999  ;
  background-color: #fff; 
  border: solid 0.5px #505050;  /*枠線　線の種類　太さ　色*/
}

#img-wrapper {
 width: 41.66%;
 margin-top: 40px; 
}

.about-picture {
  width: 100%;
  display: block; 
}

footer {
 width: 100%; 
 display: flex;
 align-items: center;
 height: 92px;
 background-color: #505050;  
}

footer > p {
 width: 500px;
 text-align: center;
 color: #fff; 
 font-size: 20px;
 margin-top: 5px;
 margin-left: auto;
 margin-right: auto;
}

